body {
    margin: 0;
    padding: 0;
}

#pesan {
    float: left;
    width: 300px;
    height: 100vh;
    background: #f2f2ee;
    overflow-y: auto;
}

#map {
    float: left;
    width: calc(100% - 300px);
    height: 100vh;
}

#title {
    text-align: center;
    margin: 10px 0;
}

.inner {
    padding: 10px;
}

#detail {
    text-align: center;
    display: none;
    margin-top: 15px;
}

#detail th, #detail td {
    padding: 10px;
    text-align: left;
}

.card-custom {
	background-color: #fff;
	padding: 10px 15px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}

#pesan-btn {
    display: block;
    margin: auto;
}
.logo {
    width: 150px; /* Atur lebar gambar logo */
    height: auto; /* Biarkan tinggi mengikuti proporsi asli gambar */
    margin-top: 15px; /* Mengatur jarak 20 piksel dari atas */
  margin-bottom: 15px; /* Mengatur jarak 10 piksel dari bawah */
  margin-left: 70px; /* Mengatur jarak 30 piksel dari kiri */
  margin-right: 30px; /* Mengatur jarak 40 piksel dari kanan */
}